* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-font-size: 1.6rem;
  --body-font-color: #222831;
  --body-heading-color: #00adb5;
  --body-items-color: #eeeeee;
  --body-background-color: #eeeeee;
  --body-font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--body-font-family);
  color: var(--body-font-color);
  font-size: var(--body-font-size);
  max-width: 1366px;
  min-width: fit-content;
  margin: auto auto;
  background-color: var(--body-background-color);
}

a {
  display: block;
  text-decoration: none;
}

.btn {
  position: absolute;
  background-color: var(--body-background-color);
  color: var(--body-font-color);
  border: none;
  border-radius: 1.5rem;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#en-btn {
  display: none;
}

.btn:hover {
  background-color: var(--body-font-color);
  color: var(--body-background-color);
}

.page {
  text-align: center;
  margin: 5rem 0;
  line-height: 1.5;
}

.page h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.tickets {
  display: flex;
  flex-direction: column;
}

.ticket {
  display: flex;
  margin: auto;
  transition: color 0.5s, transform 0.2s;
  padding: 2rem 5rem;
  border-radius: 2rem;
  max-width: 99rem;
}

.ticket:hover {
  background-color: var(--body-font-color);
  color: var(--body-background-color);
  transform: translateY(-1rem);
}

.ticket img {
  max-width: 24rem;
  height: auto;
  border-radius: 1rem;
  margin: 1rem;
}

.description {
  margin-left: 1.5rem;
  line-height: 1.5;
}

.description h2 {
  line-height: 50px;
  letter-spacing: 1.5px;
}

.footer {
  background-color: var(--body-font-color);
  color: var(--body-background-color);
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 1rem 0;
}

/*************************************************** Arabic Style ******************************************************/
.ar-ticket {
  display: none;
  direction: rtl;
  margin: auto;
  transition: color 0.5s, transform 0.2s;
  padding: 2rem 5rem;
  border-radius: 2rem;
  max-width: 99rem;
}
.ar-ticket:hover {
  background-color: var(--body-font-color);
  color: var(--body-background-color);
  transform: translateY(-1rem);
}
.ar-ticket img {
  max-width: 24rem;
  height: auto;
  border-radius: 1rem;
  margin: 1rem;
}
.ar-description {
  margin-left: 1.5rem;
  line-height: 1.5;
}
.ar-description h2 {
  line-height: 50px;
  letter-spacing: 1.5px;
}

@media only screen and (max-width: 768px) {
  .ticket {
    flex-direction: column;
  }
  .ar-ticket {
    flex-direction: column;
  }
}
